{
  "openapi": "3.0.1",
  "info": {
    "title": "Submittable Beta API Documentation",
    "description": "\nThis page contains the documentation on how to use Submittable through API calls.\n\n#### Upcoming Release Notes\nTBA\n\n#### Beta Warning\nBeta is subject to major changes including but not limited to; Authentication, data-contracts, and routes.\nWe will communicate any breaking changes in advance. After the official release of any API version Submittable is\ncommitted to long term support for our users.\nWord to the wise - anticipate breaking changes during beta.\n\n### Authentication\n\nTo access the API, you must present an API Key provisioned for your organization.\n\nThe API Key is sent using a basic authentication header. Please ensure that the\nvalue is formatted as `:{apiKey}`.\n\n```\nAuthorization: Basic {apiKey}\n```\n\n### Request Content Type\n\nAll endpoints, unless otherwise noted, accept and produce `application/json`.\nPlease ensure the `Content-Type` header for POST and PUT requests are set correctly.\n",
    "version": "v3",
    "x-logo": {
      "url": "https://d370dzetq30w6k.cloudfront.net/76c8a9e173f3b7f984b3ff6195d24aac.svg",
      "altText": "Submittable Beta API Documentation"
    }
  },
  "servers": [
    {
      "url": "https://submittable-api.submittable.com"
    }
  ],
  "paths": {
    "/v3/requests": {
      "post": {
        "tags": [
          "Forms"
        ],
        "summary": "Create a form request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CreateAdditionalFormRequestRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CreateReviewFormRequestRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CreateInternalFormRequestRequest"
                  }
                ],
                "nullable": true,
                "discriminator": {
                  "propertyName": "formType",
                  "mapping": {
                    "review": "#/components/schemas/CreateReviewFormRequestRequest",
                    "internal": "#/components/schemas/CreateInternalFormRequestRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created form request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/InternalFormRequestResponse"
                    },
                    {
                      "$ref": "#/components/schemas/AdditionalFormRequestResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ReviewFormRequestResponse"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "formType",
                    "mapping": {
                      "internal": "#/components/schemas/InternalFormRequestResponse",
                      "additional": "#/components/schemas/AdditionalFormRequestResponse",
                      "review": "#/components/schemas/ReviewFormRequestResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v3/requests/additional": {
      "post": {
        "tags": [
          "Forms"
        ],
        "summary": "Send an additional form",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAdditionalFormRequestRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created additional form request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdditionalFormRequestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v3/responses": {
      "post": {
        "tags": [
          "Forms"
        ],
        "summary": "Create a response",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CreateInternalFormResponseRequest"
                  }
                ],
                "nullable": true,
                "discriminator": {
                  "propertyName": "formType",
                  "mapping": {
                    "internal": "#/components/schemas/CreateInternalFormResponseRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/InitialFormResponseResponse"
                    },
                    {
                      "$ref": "#/components/schemas/AdditionalFormResponseResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ReferenceFormResponseResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ReviewFormResponseResponse"
                    },
                    {
                      "$ref": "#/components/schemas/EligibilityFormResponseResponse"
                    },
                    {
                      "$ref": "#/components/schemas/InternalFormResponseResponse"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "formType",
                    "mapping": {
                      "initial": "#/components/schemas/InitialFormResponseResponse",
                      "additional": "#/components/schemas/AdditionalFormResponseResponse",
                      "reference": "#/components/schemas/ReferenceFormResponseResponse",
                      "review": "#/components/schemas/ReviewFormResponseResponse",
                      "eligibility": "#/components/schemas/EligibilityFormResponseResponse",
                      "internal": "#/components/schemas/InternalFormResponseResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/responses/{formResponseId}": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Get a response",
        "parameters": [
          {
            "name": "formResponseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "200": {
            "description": "Found",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/InitialFormResponseResponse"
                    },
                    {
                      "$ref": "#/components/schemas/AdditionalFormResponseResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ReferenceFormResponseResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ReviewFormResponseResponse"
                    },
                    {
                      "$ref": "#/components/schemas/EligibilityFormResponseResponse"
                    },
                    {
                      "$ref": "#/components/schemas/InternalFormResponseResponse"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "formType",
                    "mapping": {
                      "initial": "#/components/schemas/InitialFormResponseResponse",
                      "additional": "#/components/schemas/AdditionalFormResponseResponse",
                      "reference": "#/components/schemas/ReferenceFormResponseResponse",
                      "review": "#/components/schemas/ReviewFormResponseResponse",
                      "eligibility": "#/components/schemas/EligibilityFormResponseResponse",
                      "internal": "#/components/schemas/InternalFormResponseResponse"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Forms"
        ],
        "summary": "Update a response",
        "parameters": [
          {
            "name": "formResponseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/UpdateInternalFormResponseRequest"
                  }
                ],
                "nullable": true,
                "discriminator": {
                  "propertyName": "formType",
                  "mapping": {
                    "internal": "#/components/schemas/UpdateInternalFormResponseRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/InitialFormResponseResponse"
                    },
                    {
                      "$ref": "#/components/schemas/AdditionalFormResponseResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ReferenceFormResponseResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ReviewFormResponseResponse"
                    },
                    {
                      "$ref": "#/components/schemas/EligibilityFormResponseResponse"
                    },
                    {
                      "$ref": "#/components/schemas/InternalFormResponseResponse"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "formType",
                    "mapping": {
                      "initial": "#/components/schemas/InitialFormResponseResponse",
                      "additional": "#/components/schemas/AdditionalFormResponseResponse",
                      "reference": "#/components/schemas/ReferenceFormResponseResponse",
                      "review": "#/components/schemas/ReviewFormResponseResponse",
                      "eligibility": "#/components/schemas/EligibilityFormResponseResponse",
                      "internal": "#/components/schemas/InternalFormResponseResponse"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Forms"
        ],
        "summary": "Delete a response",
        "parameters": [
          {
            "name": "formResponseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v3/responses/{formResponseId}/tables/{tableId}": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Get a url to download the table",
        "parameters": [
          {
            "name": "formResponseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "nullable": true
            }
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUrlResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v3/responses/{formResponseId}/files/{fileId}": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Get a url to download the uploaded file",
        "parameters": [
          {
            "name": "formResponseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "nullable": true
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUrlResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v3/responses/forms/{formId}": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Get a page of form responses",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "nullable": true
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a page of form responses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponse<FormResponseResponse>"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v3/forms/{formId}": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Get a form",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "nullable": true
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Entity not found"
          },
          "200": {
            "description": "Found",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/InitialFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/AdditionalFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ReferenceFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ReviewFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/EligibilityFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/InternalFormResponse"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "formType",
                    "mapping": {
                      "initial": "#/components/schemas/InitialFormResponse",
                      "additional": "#/components/schemas/AdditionalFormResponse",
                      "reference": "#/components/schemas/ReferenceFormResponse",
                      "review": "#/components/schemas/ReviewFormResponse",
                      "eligibility": "#/components/schemas/EligibilityFormResponse",
                      "internal": "#/components/schemas/InternalFormResponse"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Forms"
        ],
        "summary": "Update a form",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/UpdateInitialFormRequest"
                  },
                  {
                    "$ref": "#/components/schemas/UpdateAdditionalFormRequest"
                  },
                  {
                    "$ref": "#/components/schemas/UpdateReferenceFormRequest"
                  },
                  {
                    "$ref": "#/components/schemas/UpdateReviewFormRequest"
                  },
                  {
                    "$ref": "#/components/schemas/UpdateInternalFormRequest"
                  },
                  {
                    "$ref": "#/components/schemas/UpdateEligibilityFormRequest"
                  }
                ],
                "nullable": true,
                "discriminator": {
                  "propertyName": "formType",
                  "mapping": {
                    "initial": "#/components/schemas/UpdateInitialFormRequest",
                    "additional": "#/components/schemas/UpdateAdditionalFormRequest",
                    "reference": "#/components/schemas/UpdateReferenceFormRequest",
                    "review": "#/components/schemas/UpdateReviewFormRequest",
                    "internal": "#/components/schemas/UpdateInternalFormRequest",
                    "eligibility": "#/components/schemas/UpdateEligibilityFormRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Entity not found"
          },
          "201": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/InitialFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/AdditionalFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ReferenceFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ReviewFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/EligibilityFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/InternalFormResponse"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "formType",
                    "mapping": {
                      "initial": "#/components/schemas/InitialFormResponse",
                      "additional": "#/components/schemas/AdditionalFormResponse",
                      "reference": "#/components/schemas/ReferenceFormResponse",
                      "review": "#/components/schemas/ReviewFormResponse",
                      "eligibility": "#/components/schemas/EligibilityFormResponse",
                      "internal": "#/components/schemas/InternalFormResponse"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Forms"
        ],
        "summary": "Delete a form",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "",
              "format": "uuid",
              "nullable": true
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v3/forms": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Get a list of forms",
        "description": "The projectId filter only returns initial and additional forms that have received a response.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "enum": [
                "additional",
                "initial",
                "reference",
                "review",
                "internal",
                "eligibility"
              ],
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid",
              "nullable": true
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "200": {
            "description": "Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponse<FormResponse>"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Forms"
        ],
        "summary": "Create a form",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFormRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created form",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/InitialFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/AdditionalFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ReferenceFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ReviewFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/EligibilityFormResponse"
                    },
                    {
                      "$ref": "#/components/schemas/InternalFormResponse"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "formType",
                    "mapping": {
                      "initial": "#/components/schemas/InitialFormResponse",
                      "additional": "#/components/schemas/AdditionalFormResponse",
                      "reference": "#/components/schemas/ReferenceFormResponse",
                      "review": "#/components/schemas/ReviewFormResponse",
                      "eligibility": "#/components/schemas/EligibilityFormResponse",
                      "internal": "#/components/schemas/InternalFormResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v3/reviews": {
      "put": {
        "tags": [
          "Forms"
        ],
        "summary": "Update a review score",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReviewScoreRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "201": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewResponseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/reviews/{reviewResponseId}": {
      "delete": {
        "tags": [
          "Forms"
        ],
        "summary": "Delete a review by id",
        "parameters": [
          {
            "name": "reviewResponseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "204": {
            "description": "Successfully deleted review"
          }
        }
      }
    },
    "/v3/funds": {
      "post": {
        "tags": [
          "Funds"
        ],
        "summary": "Create a fund",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFundRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The new fund",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      },
      "get": {
        "tags": [
          "Funds"
        ],
        "summary": "Get a page of funds",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of funds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponse<FundResponse>"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v3/funds/{fundId}": {
      "get": {
        "tags": [
          "Funds"
        ],
        "summary": "Get a fund",
        "parameters": [
          {
            "name": "fundId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The fund",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Entity not found"
          }
        }
      },
      "put": {
        "tags": [
          "Funds"
        ],
        "summary": "Update a fund",
        "parameters": [
          {
            "name": "fundId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFundRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The fund",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Entity not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Funds"
        ],
        "summary": "Delete a fund",
        "parameters": [
          {
            "name": "fundId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "nullable": true
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Fund deleted."
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v3/transactions": {
      "post": {
        "tags": [
          "Funds"
        ],
        "summary": "Create a transaction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CreateAwardedTransactionRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CreatePaidTransactionRequest"
                  }
                ],
                "nullable": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The new transaction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      },
      "get": {
        "tags": [
          "Funds"
        ],
        "summary": "Get a page of transactions",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "fundId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid",
              "nullable": true
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "enum": [
                "awarded",
                "paid",
                "processing"
              ],
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "submitterId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid",
              "nullable": true
            }
          },
          {
            "name": "submissionId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v3/transactions/{transactionId}": {
      "get": {
        "tags": [
          "Funds"
        ],
        "summary": "Get a transaction by id",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "nullable": true
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "200": {
            "description": "Found transaction by id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Funds"
        ],
        "summary": "Update a transaction by id",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "200": {
            "description": "Successfully updated transaction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Funds"
        ],
        "summary": "Delete a transaction by id",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "nullable": true
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "204": {
            "description": "Successfully deleted transaction"
          }
        }
      }
    },
    "/v3/transactions/{transactionId}/send": {
      "post": {
        "tags": [
          "Funds"
        ],
        "summary": "Send funds",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendFundsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The new processing transaction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v3/labels": {
      "get": {
        "tags": [
          "Labels"
        ],
        "summary": "Get a page of labels",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of labels",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponse<LabelResponse>"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      },
      "post": {
        "tags": [
          "Labels"
        ],
        "summary": "Create a label",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLabelRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The new label",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v3/labels/list": {
      "post": {
        "tags": [
          "Labels"
        ],
        "summary": "Get a list of labels",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLabelsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of labels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LabelResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v3/labels/{labelId}": {
      "get": {
        "tags": [
          "Labels"
        ],
        "summary": "Get a label",
        "parameters": [
          {
            "name": "labelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The label",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Entity not found"
          }
        }
      },
      "put": {
        "tags": [
          "Labels"
        ],
        "summary": "Update a label",
        "parameters": [
          {
            "name": "labelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLabelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The label",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Entity not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Labels"
        ],
        "summary": "Delete a label",
        "parameters": [
          {
            "name": "labelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Label deleted"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v3/organizations/team/assignments": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get a list of team members and their assignment counts",
        "responses": {
          "200": {
            "description": "List of team members and their assignment counts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TeamMemberAssignmentResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v3/organizations/team/list": {
      "post": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get a list of team members",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTeamMembersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of team members",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TeamMemberResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v3/organizations/team/invites": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get list of team invites",
        "responses": {
          "200": {
            "description": "List of team invites",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TeamInviteResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v3/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get a page of projects",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of projects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponse<ProjectResponse>"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create a project",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The new project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v3/projects/{projectId}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get a project",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Entity not found"
          }
        }
      },
      "put": {
        "tags": [
          "Projects"
        ],
        "summary": "Update a project",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Entity not found"
          }
        }
      }
    },
    "/v3/projects/stages/{reviewStageId}": {
      "put": {
        "tags": [
          "Projects"
        ],
        "summary": "Update a review stage",
        "parameters": [
          {
            "name": "reviewStageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReviewStageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated review stage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewStageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      },
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get a review stage",
        "parameters": [
          {
            "name": "reviewStageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "200": {
            "description": "Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewStageResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Projects"
        ],
        "summary": "Delete a review stage",
        "parameters": [
          {
            "name": "reviewStageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "204": {
            "description": "Deleted review stage"
          }
        }
      }
    },
    "/v3/projects/{projectId}/stages": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create a review stage",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CreateCustomReviewStageRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CreateNoReviewStageRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CreateYesNoMaybeStageRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CreateAutomatedReviewStageRequest"
                  }
                ],
                "nullable": true,
                "discriminator": {
                  "propertyName": "reviewStageType",
                  "mapping": {
                    "custom_review": "#/components/schemas/CreateCustomReviewStageRequest",
                    "no_review": "#/components/schemas/CreateNoReviewStageRequest",
                    "yes_no_maybe": "#/components/schemas/CreateYesNoMaybeStageRequest",
                    "automated_review": "#/components/schemas/CreateAutomatedReviewStageRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewStageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/submissions": {
      "post": {
        "tags": [
          "Submissions"
        ],
        "summary": "Import a submission",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CreateSubmissionBySubmitterIdRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CreateSubmissionByEmailRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CreateSubmissionByNameRequest"
                  }
                ],
                "nullable": true
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Submissions"
        ],
        "summary": "List submissions",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "Search",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "Projects.Include",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              },
              "nullable": true
            }
          },
          {
            "name": "Projects.Exclude",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              },
              "nullable": true
            }
          },
          {
            "name": "LegacyProjects.Include",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "LegacyProjects.Exclude",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Statuses.Include",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "new",
                  "in_progress",
                  "accepted",
                  "declined",
                  "withdrawn",
                  "completed",
                  "editable",
                  "viewed",
                  "received",
                  "published"
                ],
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Statuses.Exclude",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "new",
                  "in_progress",
                  "accepted",
                  "declined",
                  "withdrawn",
                  "completed",
                  "editable",
                  "viewed",
                  "received",
                  "published"
                ],
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "Reviewers",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              },
              "nullable": true
            }
          },
          {
            "name": "ArchivedStatus",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ArchivedStatus"
            }
          },
          {
            "name": "Labels.IncludeAny",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "nullable": true
            }
          },
          {
            "name": "Labels.IncludeAll",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "nullable": true
            }
          },
          {
            "name": "Labels.IncludeUnlabeled",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "Labels.ExcludeAny",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "nullable": true
            }
          },
          {
            "name": "Labels.ExcludeAll",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "nullable": true
            }
          },
          {
            "name": "Labels.ExcludeUnlabeled",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "DateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "DateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "AdditionalFormStatuses",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AdditionalFormsStatus"
              },
              "nullable": true
            }
          },
          {
            "name": "ReviewStatus",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ReviewStatus"
            }
          },
          {
            "name": "ReviewStages.Include",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              },
              "nullable": true
            }
          },
          {
            "name": "ReviewStages.Exclude",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              },
              "nullable": true
            }
          },
          {
            "name": "SortBy.Field",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SubmissionSortField"
            }
          },
          {
            "name": "SortBy.Order",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SubmissionSortOrder"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a page of submissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponse<SubmissionListResponse>"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v3/submissions/{submissionId}": {
      "get": {
        "tags": [
          "Submissions"
        ],
        "summary": "Get a submission",
        "parameters": [
          {
            "name": "submissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "200": {
            "description": "Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Submissions"
        ],
        "summary": "Delete a submission",
        "parameters": [
          {
            "name": "submissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v3/submissions/{submissionId}/stage/{stageId}": {
      "put": {
        "tags": [
          "Submissions"
        ],
        "summary": "Move submission between review stages",
        "parameters": [
          {
            "name": "submissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "stageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Move submission between review stages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponse<SubmissionResponse>"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v3/submissions/history": {
      "get": {
        "tags": [
          "Submissions"
        ],
        "summary": "Get a page of submission history items",
        "parameters": [
          {
            "name": "submissionId",
            "in": "query",
            "schema": {
              "maxItems": 50,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "nullable": true
            }
          },
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              },
              "nullable": true
            }
          },
          {
            "name": "historyTypeId",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "nullable": true
            }
          },
          {
            "name": "bulkActionTaskId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid",
              "nullable": true
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of submission history items",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponse<SubmissionHistoryResponse>"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/v3/submissions/assignments/list": {
      "post": {
        "tags": [
          "Submissions"
        ],
        "summary": "Get submission assignments organized by userId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmissionIdsBaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSubmissionAssignmentsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/submissions/{submissionId}/reviews": {
      "get": {
        "tags": [
          "Submissions"
        ],
        "summary": "Get reviews for a Submission",
        "parameters": [
          {
            "name": "submissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "reviewStageId",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return a list of reviews for a submission",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReviewResponseResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/submissions/{submissionId}/labels/{labelId}": {
      "put": {
        "tags": [
          "Submissions"
        ],
        "summary": "Apply a label to a submission",
        "parameters": [
          {
            "name": "submissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "labelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "204": {
            "description": "Label applied to submission"
          }
        }
      },
      "delete": {
        "tags": [
          "Submissions"
        ],
        "summary": "Remove a label from a submission",
        "parameters": [
          {
            "name": "submissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "labelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "204": {
            "description": "Label removed from submission"
          }
        }
      }
    },
    "/v3/submissions/{submissionId}/status": {
      "put": {
        "tags": [
          "Submissions"
        ],
        "summary": "Update status of a submission",
        "parameters": [
          {
            "name": "submissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/UpdateSubmissionStatusAcceptedRequest"
                  },
                  {
                    "$ref": "#/components/schemas/UpdateSubmissionStatusInProgressRequest"
                  },
                  {
                    "$ref": "#/components/schemas/UpdateSubmissionStatusDeclinedRequest"
                  },
                  {
                    "$ref": "#/components/schemas/UpdateSubmissionStatusWithdrawnRequest"
                  },
                  {
                    "$ref": "#/components/schemas/UpdateSubmissionStatusCompletedRequest"
                  }
                ],
                "nullable": true,
                "discriminator": {
                  "propertyName": "status",
                  "mapping": {
                    "accepted": "#/components/schemas/UpdateSubmissionStatusAcceptedRequest",
                    "in_progress": "#/components/schemas/UpdateSubmissionStatusInProgressRequest",
                    "declined": "#/components/schemas/UpdateSubmissionStatusDeclinedRequest",
                    "withdrawn": "#/components/schemas/UpdateSubmissionStatusWithdrawnRequest",
                    "completed": "#/components/schemas/UpdateSubmissionStatusCompletedRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "204": {
            "description": "Submission status updated"
          }
        }
      }
    },
    "/v3/submissions/{submissionId}/archive": {
      "put": {
        "tags": [
          "Submissions"
        ],
        "summary": "Archive submission",
        "parameters": [
          {
            "name": "submissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "204": {
            "description": "Submission archived"
          }
        }
      }
    },
    "/v3/submissions/{submissionId}/unarchive": {
      "put": {
        "tags": [
          "Submissions"
        ],
        "summary": "Unarchive submission",
        "parameters": [
          {
            "name": "submissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "204": {
            "description": "Submission unarchived"
          }
        }
      }
    },
    "/v3/submissions/{submissionId}/notes": {
      "post": {
        "tags": [
          "Submissions"
        ],
        "summary": "Add a note to a submission",
        "parameters": [
          {
            "name": "submissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddNoteToSubmissionRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "204": {
            "description": "Note added to submission"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PublicMessageRequest": {
        "type": "object",
        "properties": {
          "subject": {
            "type": "string",
            "nullable": true
          },
          "body": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreateAdditionalFormRequestRequest": {
        "required": [
          "additionalFormId",
          "submissionId"
        ],
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "integer",
            "format": "int32"
          },
          "additionalFormId": {
            "type": "string",
            "format": "uuid"
          },
          "message": {
            "$ref": "#/components/schemas/PublicMessageRequest"
          }
        },
        "additionalProperties": false
      },
      "CreateInternalFormRequestRequest": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/CreateFormRequestRequest"
          }
        ],
        "additionalProperties": false
      },
      "CreateFormRequestRequest": {
        "required": [
          "formType",
          "submissionId"
        ],
        "type": "object",
        "properties": {
          "formType": {
            "enum": [
              "additional",
              "initial",
              "reference",
              "review",
              "internal",
              "eligibility"
            ],
            "type": "string"
          },
          "submissionId": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "CreateReviewFormRequestRequest": {
        "required": [
          "reviewerId"
        ],
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/CreateFormRequestRequest"
          }
        ],
        "properties": {
          "reviewerId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "additionalProperties": false
      },
      "AdditionalFormRequestResponse": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/FormRequestResponse"
          }
        ],
        "properties": {
          "formType": {
            "enum": [
              "additional",
              "initial",
              "reference",
              "review",
              "internal",
              "eligibility"
            ],
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "additionalFormRequestId": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ReviewFormRequestResponse": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/FormRequestResponse"
          }
        ],
        "properties": {
          "formType": {
            "enum": [
              "additional",
              "initial",
              "reference",
              "review",
              "internal",
              "eligibility"
            ],
            "type": "string",
            "nullable": true,
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "FormRequestResponse": {
        "required": [
          "formType"
        ],
        "type": "object",
        "properties": {
          "formType": {
            "enum": [
              "additional",
              "initial",
              "reference",
              "review",
              "internal",
              "eligibility"
            ],
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "requestId": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "isRescinded": {
            "type": "boolean"
          },
          "rescindedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "isCompleted": {
            "type": "boolean"
          },
          "completedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "InternalFormRequestResponse": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/FormRequestResponse"
          }
        ],
        "properties": {
          "formType": {
            "enum": [
              "additional",
              "initial",
              "reference",
              "review",
              "internal",
              "eligibility"
            ],
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "internalFormRequestId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "FieldError": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BadRequestResponse": {
        "type": "object",
        "properties": {
          "messages": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "General error messages from server.",
            "nullable": true
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FieldError"
            },
            "description": "Validation errors for request fields.",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "NameFieldResponseResponse": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/FieldResponseResponse"
          }
        ],
        "properties": {
          "firstName": {
            "type": "string",
            "nullable": true
          },
          "lastName": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AddressFieldResponseResponse": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/FieldResponseResponse"
          }
        ],
        "properties": {
          "address1": {
            "type": "string",
            "nullable": true
          },
[...]
